body {
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: Ubuntu;
  background: url("/header.svg") no-repeat;
  color: white;
  margin: 0;
  font-weight: bold;
  line-height: 1;
  font-size: 2.5rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
h1 .k-avatar {
  align-self: flex-end;
}
.title span {
  display: inline-block;
  padding: 0 10px;
}
h1 span {
  align-self: center;
}
.k-button {
  align-self: center;
}
.k-icon.k-i-menu {
  font-size: 30px;
}

@media (max-width: 700px) {
  h1 {
    padding: 1rem;
    font-size: 2rem;
  }
  .k-icon.k-i-menu {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
}

.k-drawer-item .k-item-text {
  align-self: center;
}
.k-drawer-item span.k-icon {
  font-size: 30px;
}

.page-container {
  margin: 1em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
.cards img {
  height: 150px;
  margin: 0 10px 10px 0;
}